<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities-map"></ion-back-button>
    </ion-buttons>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-padding">Salut, pour continuer tu peux t'identifier</h2>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          inputmode="text"
          #mail="ngModel"
          required="true"
          name="email"
          [(ngModel)]="authRequest.email"
          placeholder="john.doe@heig-vd.ch"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the mail is invalid -->
      <ion-item *ngIf="mail.invalid && mail.touched">
        <ion-text color="danger">L'adresse mail est obligatoire</ion-text>
      </ion-item>
  
      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="authRequest.password"
          placeholder="Mot de passe"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Le mot de passe est obligatoire</ion-text>
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox><ion-label> Se souvenir de moi</ion-label>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button color="favorite" type="submit" expand="block" [disabled]="loginForm.invalid">Se connecter</ion-button>
  
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError">Mail ou mot de passe invalide</ion-text>
    </div>
    <div class="piedDePage ion-padding" >
      <p class="soustitre">Pas encore de compte ? <ion-router-link [routerLink]="['/signup']">S'inscrire</ion-router-link></p>
    </div>
  </form>
</ion-content>
