ion-card-content > * {
    margin-bottom:20px;
}

.custom-title{
    --color: var(--ion-text-color, #000);
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}

.flex{
    display: flex;
    justify-content: space-between;
}