<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities-list"></ion-back-button>
    </ion-buttons>
    <ion-title>activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="activity">
    <ion-segment-button value="default">
      <ion-label>Activité</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="!aRejoindre" value="chat">
      <ion-label>Chat</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-card class="cardActivity" *ngIf="activity">
    <ion-card-header>
      <ion-card-title>{{activity.sport}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{activity.description}}</p>
      <p><fa-icon [icon]="faLocationDot" style="color:#FF6720"> </fa-icon>  {{activity.address}}, {{activity.npa}} {{activity.locality}} </p>
      <p><fa-icon [icon]="faCalendar" style="color:#FF6720"> </fa-icon>  {{activity.datetime | date:'short'}}</p>
      <p><fa-icon [icon]="faUser" style="color:#FF6720"> </fa-icon>  {{activity.players}}</p>
      <p>{{activity.type}}</p>
    </ion-card-content>
    <ion-card-content *ngIf="!aRejoindre">
      <ion-item>
        <ion-label position="stacked">Ajouter une photo</ion-label>
        <ion-input type="file" accept="image/*" (change)="onFileSelected($event)"></ion-input>
      </ion-item>
      <ion-button (click)="uploadFile()">Ajouter</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="aRejoindre" expand="block" (click)="joinActivity()">Rejoindre</ion-button>
  <ion-button *ngIf="!aRejoindre" expand="block" (click)="leaveActivity()">Quitter l'activité</ion-button>
</ion-content>

