<ion-header>
  <ion-toolbar>
    <ion-title>activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="activity">
    <ion-segment-button value="default">
      <ion-label>Activité</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chat">
      <ion-label>Chat</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-card>
      <ion-card-title>Titre activité</ion-card-title>
      <ion-card-content></ion-card-content>
      <ion-card-title>Participant</ion-card-title>
      <ion-card-content></ion-card-content>
      <ion-card-title>Type</ion-card-title>
      <ion-card-content></ion-card-content>
      <ion-card-title>Image</ion-card-title>
      <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>
