.card {
    background: white;
    border-radius: 8px;
    padding : 10px;
    margin : 10px;
    box-shadow: -5px 5px 20px #D3D3D3, 5px 5px 20px #D3D3D3;
}

.containerLieuDate{
    margin : 10px;
}
fa-icon{
    margin : 5px;
}

.containerLieuDate{
    display: flex;
    justify-content:space-around;
}