.card {
    background: #8a8a8a;
    border-radius: 8px;
    padding : 10px;
    margin : 10px;
}

.containerLieuDate{
    margin : 10px;
}
fa-icon{
    margin : 5px;
}

.containerLieuDate{
    display: flex;
    justify-content:space-around;
}