<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities-map"></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100% !important;">
  <h1>Créer un compte</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <ion-item>
      <ion-label position="floating">Adresse mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" formControlName="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmer le mot de passe</ion-label>
      <ion-input type="password" formControlName="passwordConfirm"></ion-input>
    </ion-item>
    <ion-button color="favorite" type="submit" expand="block" [disabled]="!signupForm.valid">S'inscrire</ion-button>
  </form>
</ion-content>
